################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OefeningScheepvaart/.vs
/OefeningScheepvaart/OefeningScheepvaart/bin/Debug/net9.0
/OefeningScheepvaart/OefeningScheepvaart/obj
/2025_S1_MonoGame_Pikachu/.vs/2025_S1_MonoGame_Pikachu
/2025_S1_MonoGame_Pikachu/2025_S1_MonoGame_Pikachu/.config
/2025_S1_MonoGame_Pikachu/2025_S1_MonoGame_Pikachu/.vscode
/2025_S1_MonoGame_Pikachu/2025_S1_MonoGame_Pikachu/obj
/2025_S1_MonoGame_Pikachu/2025_S1_MonoGame_Pikachu/bin/Debug/net8.0
/2025_S1_MonoGame_Pikachu/2025_S1_MonoGame_Pikachu/Content/obj/DesktopGL/net8.0/Content
/2025_S1_OefeningScheepvaart/OefeningScheepvaart/bin/Debug/net9.0
/2025_S1_OefeningScheepvaart/.vs
/2025_S1_OefeningScheepvaart/OefeningScheepvaart/obj
/2025_S1_MonoGame_Pikachu/2025_S1_MonoGame_Pikachu/Content/bin/DesktopGL
/2025_S1_MonoGame_Pikachu/2025_S1_MonoGame_Pikachu/Content/obj/DesktopGL
/2025_S1_MonoGame_Pikachu_01-EindeLes/.vs
/2025_S1_MonoGame_Pikachu_01-EindeLes/MonoGame_Pikachu/.vscode
/2025_S1_MonoGame_Pikachu_01-EindeLes/MonoGame_Pikachu/bin/Debug/net8.0
/2025_S1_MonoGame_Pikachu_01-EindeLes/MonoGame_Pikachu/Content/bin/DesktopGL
/2025_S1_MonoGame_Pikachu_01-EindeLes/MonoGame_Pikachu/Content/obj/DesktopGL
/2025_S1_MonoGame_Pikachu_01-EindeLes/MonoGame_Pikachu/obj
/2025_S1_MonoGame_Pikachu_02-BeginLes2/MonoGame_Pikachu/bin/Debug/net8.0
/2025_S1_MonoGame_Pikachu_02-BeginLes2/MonoGame_Pikachu/obj
/2025_S1_MonoGame_Pikachu_02-BeginLes2/.vs
/2025_S1_MonoGame_Pikachu_01-EindeLes1/.vs
/2025_S1_MonoGame_Pikachu_01-EindeLes1/MonoGame_Pikachu/bin/Debug/net8.0
/2025_S1_MonoGame_Pikachu_01-EindeLes1/MonoGame_Pikachu/Content/bin/DesktopGL
/2025_S1_MonoGame_Pikachu_01-EindeLes1/MonoGame_Pikachu/Content/obj/DesktopGL
/2025_S1_MonoGame_Pikachu_01-EindeLes1/MonoGame_Pikachu/obj
/2025_S1_MonoGame_Pikachu_02-BeginLes2/MonoGame_Pikachu/Content/bin/DesktopGL
/2025_S1_MonoGame_Pikachu_02-BeginLes2/MonoGame_Pikachu/Content/obj/DesktopGL
/2025_S1_MonoGame_Pikachu_02-EindeLes2/.vs
/2025_S1_MonoGame_Pikachu_02-EindeLes2/MonoGame_Pikachu/bin/Debug/net8.0
/2025_S1_MonoGame_Pikachu_02-EindeLes2/MonoGame_Pikachu/Content/bin/DesktopGL
/2025_S1_MonoGame_Pikachu_02-EindeLes2/MonoGame_Pikachu/Content/obj/DesktopGL
/2025_S1_MonoGame_Pikachu_02-EindeLes2/MonoGame_Pikachu/obj
/2025_S1_MonoGame_Pikachu_03-EindeLes3/.vs
/2025_S1_MonoGame_Pikachu_03-EindeLes3/MonoGame_Pikachu/bin/Debug/net8.0
/2025_S1_MonoGame_Pikachu_03-EindeLes3/MonoGame_Pikachu/Content/bin/DesktopGL
/2025_S1_MonoGame_Pikachu_03-EindeLes3/MonoGame_Pikachu/obj
/2025_S1_MonoGame_Pikachu_03-EindeLes3/MonoGame_Pikachu/Content/obj/DesktopGL
/2025_S1_Maui_Jokes_EindeLes1/.vs
/2025_S1_Maui_Jokes_EindeLes1/MauiJokes/bin/Debug
/2025_S1_Maui_Jokes_EindeLes1/MauiJokes/obj
/2025_S1_Maui_Jokes_EindeLes1/MauiJokesBL/bin/Debug/net9.0
/2025_S1_Maui_Jokes_EindeLes1/MauiJokesBL/obj
/2025_S1_Maui_Jokes_EindeLes1/MauiJokesDL/bin/Debug/net9.0
/2025_S1_Maui_Jokes_EindeLes1/MauiJokesDL/obj
2025_S1_Maui_Jokes_BeginLes2/.vs/
2025_S1_Maui_Jokes_BeginLes2/MauiJokes/bin/
2025_S1_Maui_Jokes_BeginLes2/MauiJokes/obj/
2025_S1_Maui_Jokes_BeginLes2/MauiJokesBL/bin/
2025_S1_Maui_Jokes_BeginLes2/MauiJokesBL/obj/
2025_S1_Maui_Jokes_BeginLes2/MauiJokesDL/bin/
2025_S1_Maui_Jokes_BeginLes2/MauiJokesDL/obj/
2025_S1_Maui_Jokes_EindeLes2_Prep/.vs/
