################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OefeningScheepvaart/.vs
/OefeningScheepvaart/OefeningScheepvaart/bin/Debug/net9.0
/OefeningScheepvaart/OefeningScheepvaart/obj
/2025_S1_MonoGame_Pikachu/.vs/2025_S1_MonoGame_Pikachu
/2025_S1_MonoGame_Pikachu/2025_S1_MonoGame_Pikachu/.config
/2025_S1_MonoGame_Pikachu/2025_S1_MonoGame_Pikachu/.vscode
/2025_S1_MonoGame_Pikachu/2025_S1_MonoGame_Pikachu/obj
